body{
	font-family: Calibri;
}

body{
	margin: 0;
}

#titre{
	text-align: center;
	font-size: 1.2em;
}

#textes{
	display: flex;
	justify-content: center;
}

fieldset p{
  display: flex;
	justify-content: space-between;
}

#infosMaitre{
	padding: 1%;
	width:30%;
	margin: 0;
	margin-right: 2%;
}

#infosEtudiant{
	padding: 1%;
	width:30%;
	margin: 0;
}

#infosStage{
  margin-left: auto;
  margin-right: auto;
	width:65%;
}

#infosStage p{
	display: block;
}

#infosStage input{
	display: block;
}

#titre_anglais{
	width: 98%;
}

#titre_français{
	width: 98%;
}

#resume_anglais{
	width: 98%;
	height: 100px;
}
#resume_français{
	width: 98%;
	height: 100px;
}

#lieu{
	width: 55%;
}

#aide{
	text-align: center;
  margin-bottom: 0;
	padding-bottom: 0;
	font-size: 1.1em
}

#map {
	margin-left: auto;
  margin-right: auto;
	width: 67%;
	height: 500px; 
}

#pSubmit{
  text-align: center;
	margin: 0;
	margin-top: 5px;
}

#submitBtn{
	height: 75px;
	width: 25%;
	font-size: 1.9em;
	background-color: lightblue;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}


#lieuxProches p{
	padding: 0;
	margin:0;
}

#lieuxProches{
	font-size: 1.2em;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	
	display: flex;
	flex-direction: column;
}